{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "env": {
        "browser": true,
        "amd": true,
        "node": true
    },
    "parserOptions": {
        "sourceType": "module",
        "typescript": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "prettier/prettier": "warn",
        "@typescript-eslint/explicit-function-return-type": "error",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": ["error", {
            "vars": "all",
            "args": "none",
            "ignoreRestSiblings": true
        }],
        "@typescript-eslint/no-use-before-define": "off",
        "no-console": "off",
        "no-unused-vars": ["error", {"args": "none"} ],
        "@typescript-eslint/camelcase": "off"
    },
    "globals": {
        "console": "writable",
        "document": "writable",
        "parent": "writable"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "overrides": [
        // Javascript files
        {
          "files": ["*.js"],
          "rules": {
            "@typescript-eslint/no-var-requires": "off",
            "@typescript-eslint/explicit-function-return-type": "off"
          }
        }
    ]
}