.comment {
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
}

.body {
  padding-top: var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-sm);
}

.content {
  & > p:last-child {
    margin-bottom: 0;
  }
}

.footer {
  margin-top: auto;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
}
