.wrapper {
  position: relative;
  background-image: url("https://qaobgjglyovmcaiiagyx.supabase.co/storage/v1/object/public/gallery/SedonaandZach-24.jpg?t=2024-03-04T02%3A46%3A04.572Z");
  background-position: center;
  height: 100vh;

  @media (min-width: $mantine-breakpoint-xl) {
    background-attachment: fixed;
  }

  @media (min-width: $mantine-breakpoint-lg) {
    background-attachment: fixed;
  }

  @media (min-width: $mantine-breakpoint-md) {
    padding-bottom: 100px;
    background-size: cover;
  }

  @media (max-width: $mantine-breakpoint-md) {
    padding-bottom: 20px;
    background-size: cover;
  }
}

.inner {
  position: relative;
}
