body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-button-bg: #717769;
}

.primaryButton {
  background-color: #717769;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    background-color: hsl(86, 6.3%, 80%);
  }
}
