body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

:root {
  --highlight-color: hsl(86, 6.3%, 80%);
}

*::selection {
  background-color: var(--highlight-color);
}

.primaryButton {
  background-color: #717769;

  &:hover:not([disabled]) {
    opacity: 0.9;
    background-color: #717769;
  }

  &:disabled {
    background-color: var(--mantine-color-gray-1);
    color: var(--mantine-color-gray-5);
  }
}

.mantine-TextInput-input,
.mantine-Textarea-input,
.mantine-NumberInput-input,
.mantine-Select-input {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 16px;
  }
}
