body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

:root {
  --highlight-color: hsl(86, 6.3%, 80%);
}

*::selection {
  background-color: var(--highlight-color);
}

.mantine-TextInput-input,
.mantine-Textarea-input,
.mantine-NumberInput-input,
.mantine-Select-input {
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 16px;
  }
}

p {
  letter-spacing: 0.2px;
}

.uppy-StatusBar,
.uppy-DashboardContent-bar {
  z-index: 2 !important;
}
