.logo {
  @media (min-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.root {
  position: relative;
  z-index: 1;

  @media (min-width: $mantine-breakpoint-sm) {
    background-image: url("/assets/images/blush-rose.webp");
    background-size: cover;
    background-position: center;
  }
}

.dropdown {
  position: absolute;
  top: rem(60);
  left: 0;
  right: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-width: 0;
  overflow: hidden;

  @media (min-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.header {
  display: flex;

  @media (min-width: $mantine-breakpoint-sm) {
    justify-content: center;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    justify-content: space-between;
  }

  align-items: center;
  height: 100%;
}

.links {
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.burger {
  @media (min-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8) rem(12);
  border-radius: var(--mantine-radius-sm);
  color: var(--mantine-color-gray-7);
  font-size: var(--mantine-font-size-md);
  font-weight: 500;

  &:hover {
    background-color: var(--mantine-color-pink-0);
    text-decoration: none;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    border-radius: 0;
    padding: var(--mantine-spacing-md);
  }
}

.highlightedLink {
  background-color: var(--mantine-color-pink-4);
  color: #ffffff;

  &:hover {
    background-color: var(--mantine-color-pink-3);
  }
}

.footer {
  border-top: rem(1) solid var(--mantine-color-gray-2);

  @media (min-width: $mantine-breakpoint-md) {
    background-image: url("/assets/images/blush-rose.webp");
    background-size: cover;
    background-position: center;
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);

    @media (mx-width: $mantine-breakpoint-md) {
      flex-direction: column;
    }
  }

  .links {
    justify-content: center;
    text-align: center;
    @media (mx-width: $mantine-breakpoint-xs) {
      margin-top: var(--mantine-spacing-md);
    }
  }
}
