.root {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
  border-bottom: 1px solid #717769;
}

.dropdown {
  position: absolute;
  top: rem(100);
  left: 0;
  right: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-width: 0;
  overflow: hidden;

  @media (min-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbarLinks {
  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.burger {
  @media (min-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8) rem(12);
  border-radius: var(--mantine-radius-sm);
  color: var(--mantine-color-gray-7);
  font-size: var(--mantine-font-size-md);
  font-weight: 500;

  &:hover {
    background-color: hsl(86, 6.3%, 80%);
    text-decoration: none;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    border-radius: 0;
    padding: var(--mantine-spacing-md);
  }
}

.highlightedLink {
  background-color: #717769;
  color: #ffffff;

  &:hover {
    opacity: 0.9;
    text-decoration: none;
  }
}
