.familyPortrait {
  @media (max-width: $mantine-breakpoint-md) {
    width: 250px;
    height: 250px;
  }
}

.registryButton {
  background-color: #717769;

  &:hover {
    opacity: 0.9;
    text-decoration: none;
  }
}
