.flowerContainer {
  width: 100%;
  z-index: 0 !important;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}

.flowerImage {
  content: " ";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 460px;
  width: 305px;
  z-index: 1;
  display: block;
  flex-shrink: 0;

  @media (max-width: $mantine-breakpoint-md) {
    height: 300px;
    width: 130px;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    height: 300px;
    width: 90px;
  }
}

.flowerContainerLeft {
  background-image: url("/assets/images/right-flower.webp");
}

.flowerContainerRight {
  background-image: url("/assets/images/left-flower.webp");
}

.titleElement {
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.24;
  letter-spacing: 2px;
  font-family: var(--font-playfair);
  font-size: 45px;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: 24px;
  }

  @mixin dark {
    color: white;
  }

  @mixin light {
    color: rgb(10, 61, 31);
  }
}

.dividerText {
  font-family: var(--font-poppins);
  font-weight: 400;
  text-transform: none;
  line-height: 1.63;
  letter-spacing: normal;
  font-size: 16px;
  margin: 32px 0;
  background-image: none;
  position: relative;
  width: unset;
  height: unset;
  z-index: 300;

  @media (max-width: $mantine-breakpoint-sm) {
    margin: 6px 0;
  }

  @mixin dark {
    color: white;
  }

  @mixin light {
    color: rgb(10, 61, 31);
  }
}
